html {
  font-size: 16px;
}

body {
  font-family: monospace;
  font-size: 1rem;
}

main {
  width: 100%;
  max-width: 1200px;
  padding: 1rem;
  margin: auto;
}

a {
  color: #303f9f;
  text-decoration: dotted;
}